<div class="flex w-full justify-center" id="<%= screen.class.name %>" data-payload="<%= screen.payload.to_json %>"></div>

<style>
  @keyframes appearance {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
        opacity: 80;
        transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>

<script type="text/babel">
  const guessCharacter = document.getElementById("Screen::GuessCharacter")
  const { payload } = guessCharacter.dataset
  const { characters, color } = JSON.parse(payload)

  const GuessCharacter = ({ onResponse, talkUrl, solutionPath }) => {
    const [isTalking, setIsTalking] = React.useState(true)

    React.useEffect(() => {
      const talk = new Audio(talkUrl)
      talk.play()
      talk.addEventListener('ended', () => setIsTalking(false))
    }, [])

    return (
      <div className="w-full h-[80vh] p-2 bg-gradient-to-t from-[#8dbc4b] to-lime-200 flex justify-center content-center place-items-center rounded-3xl">
        <div className="grid grid-cols-5 gap-2">
          {[...Array(25)].map((item, index) => {
            characters.forEach(({value, position}) => {
              if (index == position) {
                item = value;
              }
            })
            return (
              <button
                key={index}
                className={`
                  button-character
                  w-[60px] sm:w-[80px] lg:w-[100px]
                  aspect-square
                  text-4xl sm:text-5xl lg:text-6xl
                  text-[${color}] font-bold text-center
                  rounded-lg sm:rounded-xl lg:rounded-2xl
                  bg-[#ffbb29] hover:bg-[#ffc829]
                  border-4 border-[#eaad2b]
                  shadow-[0_4px_0_0_rgba(255,129,47,1),inset_0_12px_3px_-8px_rgba(255,255,255,0.5)]
                  hover:shadow-[2px_2px_0_0_rgba(255,129,47,1)]
                  active:translate-y-1 active:shadow-none
                  transition-all duration-100 ease-in-out
                  transform
                  opacity-0
                  select-none
                  ${item
                    ? "animate-[appearance_1.2s_ease-in-out_forwards]"
                    : "pointer-events-none"
                  }
                  ${isTalking
                    ? `pointer-events-none`
                    : `cursor-pointer`
                  }
                `}
                onClick={() => {
                  setTimeout(() => {
                    onResponse()
                    window.location.href = `${solutionPath}?answer=${item}`
                  }, 2000)
                }}
              >
                {item}
              </button>
            )
          })}
        </div>
      </div>
    )
  }

  ReactDOM.render(
    <React.StrictMode>
      <Runner component={GuessCharacter} />
    </React.StrictMode>,
    guessCharacter
  )
</script>
